/* ===== Header Section Styling ===== */

.header {
  position: relative;
  height: 100vh;
  background: url('./images/GreenMountains.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 0;
}

.header__text-box {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.heading-primary span {
  font-size: 3rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}

.header__text p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

    .footer {
        padding: var(--gutter-medium) 0;
    } 
}
